In [14]:
import pandas as pd
import numpy as np

import json

In [15]:
# open json file with all mathes of league 2020-2021 England
with open('data\league_fixtures_en_2020.txt') as f:
    league_fixtures_en_2020 = json.load(f)
    
league_fixtures = league_fixtures_en_2020

In [12]:
### example for England 2020, I have done for all seasons and countries


# create df of data matches (id, teams, score)
df_matches = pd.DataFrame(np.nan, index=range(0,379), 
                          columns=['id_match', 'id_team_home', 'name_team_home', 'id_team_away', 'name_team_away',
                                   'score_HT', 'score_FT'])
num1 = 0
num2 = 380

# collect data to df
for number in range(num1,num2):
    number_game = league_fixtures['api']['fixtures'][number]
    fixture_id = number_game['fixture_id']
    df_matches.loc[number, ['id_match']] = fixture_id
    
    id_team_home = number_game['homeTeam']['team_id']
    df_matches.loc[number, ['id_team_home']] = id_team_home
    
    name_team_home = number_game['homeTeam']['team_name']
    df_matches.loc[number, ['name_team_home']] = name_team_home
    
    id_team_away = number_game['awayTeam']['team_id']
    df_matches.loc[number, ['id_team_away']] = id_team_away
    
    name_team_away = number_game['awayTeam']['team_name']
    df_matches.loc[number, ['name_team_away']] = name_team_away
    
    score_HT = number_game['score']['halftime']
    df_matches.loc[number, ['score_HT']] = score_HT
    
    score_FT = number_game['score']['fulltime']
    df_matches.loc[number, ['score_FT']] = score_FT

In [13]:
df_matches.head()

,id_match,id_team_home,name_team_home,id_team_away,name_team_away,score_HT,score_FT
0,592143.0,36.0,Fulham,42.0,Arsenal,0-1,0-3
1,592142.0,52.0,Crystal Palace,41.0,Southampton,1-0,1-0
2,592144.0,40.0,Liverpool,63.0,Leeds,3-2,4-3
3,592148.0,48.0,West Ham,34.0,Newcastle,0-0,0-2
4,592147.0,60.0,West Brom,46.0,Leicester,0-0,0-3